:root {
    // 主色调
    --color-main: #509eff;
    --color-main-light-1: #776bff;
    --color-main-light-2: #ffe9cd7a;
    // 背景主色调
    --backgroud-color: white;
    // 适配黑色主题的字体色
    --color-dark-black: black;
    --color-dark-gray: gray;
}

body {
    background-color: var(--backgroud-color);
}
